@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.bodySection {
  background-image: linear-gradient(to bottom, #d080da, #9cccec);
}
