@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.vault-item {
  color: red;
}

.bodySection {
  background-image: linear-gradient(to bottom, #c990ddaf, #83b6d8);
}

.credits {
  font-size: 8;
}
