@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bodySection {
  background-image: linear-gradient(to right, #3498db, #8e44ad);
}
